.case {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-top: 2px solid black;
    width: 100%;
    h2 {
        font-size: 2rem;
        margin-top: 20px;
    }
    button {
        font-size: 4rem;
        margin: 20px 0 0 0;
        border: 0;
        position: relative;
        width: 250px;
        background: transparent;
        img {
            width: 100%;
        }
    }
    button::after {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "+";
        z-index: 10;
    }
    button:hover > img {
        cursor: pointer;
    }
    button:hover > img {
        opacity: 0.5;
    }
    button:hover::after {
        display: flex;
    }
}