<div class="case">
    <ng-container *ngIf="playerCharacter.id !== 0 && !case">
        <h2>Add Case File</h2>
        <button (click)="createCaseFile()">
            <img src="assets/img/ClassifiedDocument.png" alt="">
        </button>
    </ng-container>
    <ng-container *ngIf="playerCharacter.id === 0">
        <h2>Case Details</h2>
        <form [formGroup]="caseForm">
        <section>
            <h3>Case</h3>
            <p>Murder in Color</p>
        </section>
        <section>
            <h3>Days Left</h3>
            <p>10</p>
        </section>
        <section>
            <h3>Gender</h3>
            <select formControlName="gender" name="gender">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['gender']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Race</h3>
            <select formControlName="race" name="race">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['race']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Height</h3>
            <select formControlName="height" name="height">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['height']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Weight</h3>
            <select formControlName="weight" name="weight">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['weight']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Age</h3>
            <select formControlName="age" name="age">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['age']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Hair Color</h3>
            <select formControlName="hair_color" name="hair_color">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['hair_color']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Face Feature</h3>
            <select formControlName="face_feature" name="face_feature">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['face_feature']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Unique Feature</h3>
            <select formControlName="unique_feature" name="unique_feature">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['unique_feature']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Name</h3>
            <select formControlName="name" name="name">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['name']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Crime Place</h3>
            <select formControlName="crime_place" name="crime_place">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['crime_place']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Weapon</h3>
            <select formControlName="weapon" name="weapon">
                <option value="--------">--------</option>
                <option *ngFor="let option of caseOptions['weapon']" [value]="option.val">{{option.display}}</option>
            </select>
        </section>
        <section>
            <h3>Clues Collected</h3>
            <p>3</p>
        </section>
        <section>
            <h3>Signatures Collected</h3>
            <p>1</p>
        </section>
        <section>
            <h3>Warrant Secured</h3>
            <p>False</p>
        </section>
        <button class="caseSave" (click)="saveCaseDetails()">Save</button>
    </form>
    </ng-container>
</div>