 h1 {
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    color: white;
    background: orange;
}



:host {
    display: flex;
    flex-direction: column;
    width: 100%
}

.char-contain {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    div {
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        .character {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            background-color: peru;
            margin: 10px;
            width: 20vw;
            img {
                object-fit: cover;
                object-position: center top;
                width: 20vw;
                height: 20vw;
            }
            h1 {
                background: transparent;
                text-align: center
            }
            p {
                font-size: 1.25rem;
                margin: 10px;
            }
        }
    }
}
