<div class="hq" *ngIf="auth.loggedIn">
        <section class="character">
            <app-characters [playerCharacter]="playerCharacter"></app-characters>
            <!-- <app-chardetails></app-chardetails>
            <app-locale></app-locale> -->
        </section>
        <section class="case">
            <!-- <app-case></app-case> -->
        </section>
        <!-- <h2>YOUR CASES</h2>
        <div>
            <button (click)="addCase()">
                <h1>+</h1>
            </button>
        </div>
        <h2>YOUR CASES</h2>
        <div>
            <button>
                <img src="assets/img/ClassifiedDocument.png" alt="">
            </button>
        </div> -->
</div>
