<div class="hq" *ngIf="auth.loggedIn">
        <section class="character">
            <app-characters [playerCharacter]="playerCharacter"></app-characters>
        </section>
        <section class="case">
            <app-case [profileJson]="profileJson" [playerCharacter]="playerCharacter" [case]="case"></app-case>
        </section>
        <!-- <h2>YOUR CASES</h2>
        <div>
            <button (click)="addCase()">
                <h1>+</h1>
            </button>
        </div>
        <h2>YOUR CASES</h2>
        <div>
            <button>
                <img src="assets/img/ClassifiedDocument.png" alt="">
            </button>
        </div> -->
</div>
