@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


$backgroundc: #FFFFFF;
$secondaryc: #222222;
$footerbc: #F9AD2E;
$tabselectbc: orange;
$graysquarec: #D8D8D8;
@mixin font($w,$s,$c,$h) {
    font-weight:$w;
    font-size:$s;
    color:$c;
    line-height: $h;
}

@mixin flex($direction, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .outer-main {
    @include flex(column,center,center);
    width: 100%;
    height:100%;
    @media(max-width:600px) {
      width: 100%;
      align-self: center;
  }
}

.inner-main {
  @media(max-width:600px) {
    width: 100%;
    align-self: center;
}

 @include flex(column,center,center);
    width: 100%;
}


header {
    width:100%;
    z-index: 10;
    .nav {
        width: 100%;
        position:fixed;
        top: 0;
        background-color: #F9AD2E;
        padding: 20px;
        z-index: 10;

        @include flex(row,space-between,center);
        .top {
            @include flex(row,space-between,center);
            opacity: 0.95;

            width: 40%;
            h3 {
                @include font(regular,1.25rem,$backgroundc,24px);
                font-family: Arial, Helvetica, sans-serif;
                @media(max-width:600px) {
                    width: 100%;
                    text-align: center;
                    @include font(regular,1.5rem,$backgroundc,24px);
                    margin-bottom: 10px
                }
            }
            h2::after {
                @media(max-width:600px) {
                    content: '︿';
                    @include font(bolder,5rem,blue ,100%);
                }   
            }


        @media(max-width:600px) {
            width: 100%;
            align-self: center;
            @include flex(column,flex-start,center);
        }
        }

        .bottom {
            width: 100%;
            @include flex(row,space-between,center);
            @media(max-width:600px) {
                width: 200px;
                align-self: center;
                display: none;
                opacity: 0;
            }
        }

        .open {
            @include flex(column,flex-start,flex-start);
            opacity: 1;
            transition: opacity 600ms ease-in-out 2s;
        }
        @media(max-width:600px) {
            @include flex(column,flex-start,center);
        }
    }
    .Section1 {
        @include flex(column,flex-end,center);
        padding: 0px 0px 40px 0;
        width: 100%;
        height: 90vh;
        background: url("../assets/img/home/RIDMain.png");
        background-position:50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        @media(max-width:600px) {
            width: 100%;
            height: 80vh;

        }
        h1 {
            @include font(bold,3.25rem,$backgroundc,60px);
            font-family: 'Kameron', serif;
            letter-spacing: 2px;

            margin:0px 4%;
            text-align: center;
            @media(max-width:600px) {
                margin: 0px 4%;
                text-align: center;
                @include font(bold, 2.5rem,$backgroundc,60px);

            }
        }

        
    
    }
}




footer {
    background-color: $footerbc;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .signup {
        @include flex(column,center,center);
        @media(max-width:600px) {    
            width: 100%;
            margin: 0px 0px 0px 0px;

        }
        margin: 0px 20px 0px 0px;

        h3 {
            @include font(regular,1.5rem,$backgroundc,24px);
            font-family: Arial, Helvetica, sans-serif;
        }

        button {
            padding: 15px;
            margin: 25px;
            align-self: center;
            background-color: white;
            border: 2px solid white;
            @include font(regular, 1.5rem,orange,24px);   

        }

        button:hover {
            color: white;
            background-color: darkorange;
            border: 2px solid white;
            cursor: pointer;
        }
    }

    .footer-btn {
        background: brown;
        width: 25%;
        font-size: 1.5rem;
    }
    
    
}

a {
    @include font(regular,1.25rem,$backgroundc,24px);
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    z-index: 1000;
    @media(max-width:600px) {   
        @include font(regular,1.75rem,$backgroundc,50px);

    }
}

a.active-link {
    color: black;
    font-weight: bold
}


.down_arrow {
    display: none;
    @media(max-width:600px) {
        display: block
    }
}

.up_arrow {
    display: none;
    @media(max-width:600px) {
        display: none
    }
}

.notes {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background: wheat;
    h1 {
        font-size: 2.5rem;
        font-family: 'Arial';
        margin: 10px;
    }

    p {
        font-size: 2rem;
        font-family: 'Caveat', cursive;
        margin: 10px;
    }

    input {
        font-size: 2rem;
        font-family: 'Caveat', cursive;
        padding: 10px;
    }

}