<header>
  <section class="nav">
    <div class='top'>
    <h3>Reform in Dust Storms</h3>
    <img class='open' src="img/nav-hamburger.png" alt="Home Image 1">
    <img class='close' src="img/nav-hamburger-close.png" alt="Home Image 1">
    </div>
    <div class='bottom'>
      <div>
        <a href="index.html">Home</a>
        <a href="suspect.html">Suspect</a>
        <a href="weapon.html">Weapon</a>
        <a href="place.html">Place</a>
      </div>
    </div>
  </section>
  <section class="Section1">
    <h1>
      Law, Order, Justice	In The Wild West

    </h1>
  </section>

</header>


<div class='container'>
<router-outlet></router-outlet>
</div>
