<div (click)="toggleOpen($event)" value="maincont">
<header>

  <app-nav></app-nav>

  <section class="Section1">
    <h1>
      Law, Order, Justice	In The Wild West

    </h1>
  </section>

</header>


<div class="outer-main">
  <div class="inner-main">
    <router-outlet></router-outlet>
  </div>
</div>

<footer [ngClass]="{'notLoggedIn': !auth.loggedIn}">
    <button *ngIf="auth.loggedIn" class="footer-btn" (click)="toggleOpen($event)" value="mapbutton">MAP</button>
    <div class='signup'>
      <h3 *ngIf="!auth.loggedIn">Ready to solve the case?</h3>
      <button (click)="auth.login()" *ngIf="!auth.loggedIn">Sign Up or Log In!</button>
      <h3 *ngIf="auth.loggedIn">Ready to call it a day?</h3>
      <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
      <h1 *ngIf="auth.userProfile$ | async as profile">{{profile.sub}}</h1>
    </div>
    <button *ngIf="auth.loggedIn" class="footer-btn" (click)="toggleOpen($event)"  value="notesbutton">CASE NOTES</button>
</footer>
</div>
<map *ngIf="map_open"></map>
<form [formGroup]="NotesForm" class="notes" *ngIf="notes_open" (ngSubmit)="noteSubmit()">
  <h1>CASE NOTES</h1>
  <section>
    <input type="text" value="" formControlName="write">
    <button>Write</button>

  </section>
  <p [innerText]="testText"></p>
</form>