<header>
  <section class="nav">
    <div class='top'>
    <h3>Reform in Dust Storms</h3>
    </div>

    <div class='bottom'>
        <a routerLink='/home-info' routerLinkActive="active-link">ⓘ Home</a>
        <a routerLink='/suspect-info' routerLinkActive="active-link">ⓘ Suspect</a>
        <a routerLink='/weapon-info' routerLinkActive="active-link">ⓘ Weapon</a>
        <a routerLink='/place-info' routerLinkActive="active-link">ⓘ Place</a>
    </div>
  </section>
  <section class="Section1">
    <h1>
      Law, Order, Justice	In The Wild West

    </h1>
  </section>

</header>


<div class='container'>
<router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">
    <div class='signup'>
      <h3>Ready to solve the case?</h3>
      <button>Sign Up or Log In!</button>
    </div>
  </div>
</footer>