<div class='user-character' [ngClass]="{'hiddenCharacter': selectingCharacter}">
    <section class="character-selection">
        <img [src]="characterImageUrl(selectedCharacter.name)" />
        <button (click)="openSelectCharacterSection()">Change Lawman</button>
    </section>
    <section class="character-details">
        <h3>Rank</h3>
        <p>{{ selectedCharacter.rank }}</p>
        <h3>Name</h3>
        <p>{{ selectedCharacter.name }}</p>
        <h3>Current City</h3>
        <p>{{ currentCity }}</p>
        <h3>Current Place</h3>
        <p>{{ currentPlace }}</p>
        <h3>Description</h3>
        <p>{{ selectedCharacter.description }}</p>
    </section>
</div>

<div class='characters' [ngClass]="{'hiddenCharacter': !selectingCharacter}">
    <h2>Choose Your Lawman</h2>
    <div class="outerChar" *ngIf="defaultCharacters">
        <div class='character' *ngFor="let character of defaultCharacters">
            <button [ngClass]="{'selected': selectedCharacter.name === character.name}" (click)="selectCharacter(character)">
                <img [src]="characterImageUrl(character.name)" />
                <p>{{character.name}}</p>
            </button>
        </div>
        <div class='selectedCharacter'>
            <p>{{ selectedCharacter.name }}</p>
            <section class="imgContainer">
                <img [src]="characterImageUrl(selectedCharacter.name)" />
                <p>{{selectedCharacter.description}}</p>
            </section>
            <button class='deputize'
            (click)='postCharacter("")'>★ Commission!</button>
        </div>
    </div>
    <h1 *ngIf="!defaultCharacters">Characters are loading...</h1>
</div>