
<div class='characters'>
    <h2>Your Characters</h2>

      <div class='character' *ngFor="let character of characters">
          <button>
          <img src='https://openclipart.org/image/2000px/159901'/>
          <p>{{character.name}}</p>
          </button>          
      </div>
</div>

<!-- <div class="profile">
    <h3 *ngIf="auth.userProfile$ | async as profile">{{profile.name}}</h3>
    <button (click)="addCharacter()">Add Character</button>
    <div class="add" #char>
        <div>
            <h4 class="boy" (click)="who('boy')" #boy>Cowboy</h4>
            <h4 class="girl" (click)="who('girl')" #girl>Cowgirl</h4>
        </div>
        <div class='char-form'>
            <h5>Name:</h5>
            <input type="text" value="{{name}}" #nameI/>
        </div>
        <div class='char-form'>
            <h5>Description:</h5>
            <textarea type="text" rows='5' value="{{description}}" #descriptionI></textarea>
        </div>
        <div class='char-form'>
            <h5>Question Suspect:</h5>
            <input type="text" value="What does the suspect look like?" #qsI />
        </div>
        <div class='char-form'>
            <h5>Question Place:</h5>
            <input type="text" value="Do you remember where the crime took place?" #qpI/>
        </div>
        <div class='char-form'>
            <h5>Question Weapon:</h5>
            <input type="text" value="Did you notice if the suspect had a weapon?" #qwI />
        </div>
        <div class='char-form'>
            <h5>Goodbye:</h5>
            <input type="text" value="Have a wonderful day!" #goodbyeI />
        </div>
        <button class='deputize' *ngIf="auth.userProfile$ | async as profile" (click)='postCharacter(profile.sub.substr(6))'>★ Deputize!</button>
    </div>
</div>

<div class='char-contain'>
    <profile id='pro'></profile>
    <div id='field' #file>
      <div class='character' *ngFor="let character of characters">
        <a routerLink='/Denver' routerLinkActive="active-link" *ngIf="auth.loggedIn">
          <button>
          <img src='https://icon2.cleanpng.com/20171221/ssq/cowboy-silhouette-png-clip-art-image-5a3bd872804bf9.0040361515138714745255.jpg'/>
          <h1>HELLO!</h1>
          <h1>{{chosenCharacter.name}}</h1>
          </button>          
        </a>


      </div>
    </div>
</div> -->