.profile {
    background-color: sandybrown;
    padding: 10px;
    margin: 20px;
    h3 {
        font-size: 2rem;
        margin: 5px
    }
    
    button {
        width: 100%;
        font-size: 2rem;
        margin: 10px 0px;
        background-color: white
    }
    .add {
        display: none;
        flex-direction: column;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            h4 {
                font-size: 1.5rem;
                width: 50%;
                height: 50%;
                text-align: center;
                padding: 20px 0
            }
            .boy {
                background-color: aqua
            }
    
            .girl {
                background-color: yellow
            }
        }



    }
}
