<nav>
    <img class='logo' src="assets/img/RIDSLogo.png" #down/>
    <div class='top'>
    <h3>Reform in Dust Storms</h3>
    <img class='down_arrow' (click)="MenuO()" src="assets/img/home/DownArrow.png" #down/>
    <img class='up_arrow' (click)="MenuC()" src="assets/img/home/UpArrow.png" #up />

    </div>
    <div class='bottom' #bottom >
      <a routerLink='/overview' routerLinkActive="active-link" isActive='true'>ⓘ Overview</a>
      <a routerLink='/suspect-info' routerLinkActive="active-link">ⓘ Suspect</a>
      <a routerLink='/weapon-info' routerLinkActive="active-link">ⓘ Weapon</a>
      <a routerLink='/place-info' routerLinkActive="active-link">ⓘ Place</a>
      <a routerLink='/headquarters' routerLinkActive="active-link" (click)="auth.login()" *ngIf="!auth.loggedIn">▶ Play</a>
      <a routerLink='/headquarters' routerLinkActive="active-link" *ngIf="auth.loggedIn" (click)="getID()">▶ Play</a>
    </div>
  </nav>