<div class="map">
    <div>
        <section class="denver">
            <img src="https://media.istockphoto.com/illustrations/engraving-of-town-denver-colorado-in-the-wild-west-1868-illustration-id182893346?k=20&m=182893346&s=612x612&w=0&h=VVfBxy6GuvPyxhPp7HWeocJzsp6o89hM-LcvzjOQ82w=" alt="">
            <h1>Denver</h1>
        </section>
        <section class="louisville">
            <img src="https://media.istockphoto.com/illustrations/steam-train-station-of-pacific-railway-at-omaha-19th-century-illustration-id871266048?k=20&m=871266048&s=612x612&w=0&h=m23PRcoLok_jLrCTohWBAMJkiizKINI773xxw8kgsno=" alt="">
            <h1>Louisville</h1>
        </section>
        <section class="cripplecreek">
            <img src="https://render.fineartamerica.com/images/rendered/default/flat/bath-towel/images/artworkimages/medium/1/colorado-gold-mining-1859-granger.jpg?&targetx=0&targety=-99&imagewidth=952&imageheight=674&modelwidth=952&modelheight=476&backgroundcolor=FCFEFC&orientation=1&producttype=bathtowel-15-30" alt="">
            <h1>Cripple Creek</h1>
        </section>
        <section class="idahosprings">
            <img src="https://media.istockphoto.com/illustrations/engraving-native-american-encampment-from-1870-illustration-id157685243?k=20&m=157685243&s=612x612&w=0&h=kHc24jR74aYhWZEpgnP-mOCFKJhBMOIhtp-wduOOyRs=" alt="">
            <h1>Idaho Springs</h1>
        </section>
        <section class="fortmorgan">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Fsstockade.jpg" alt="">
            <h1>Fort Morgan</h1>
        </section>
    </div>
</div>
